<p id="notice"><%= notice %></p>

<h1> <strong>Name:</strong> <%= @cocktail.name %> </h1>
<%= link_to "Back to cocktails", cocktails_path %>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li> <%= dose.description %> <%= dose.ingredient.name %>
  </li>
  <% end %>
</ul>

<div class="container">
  <h2> Add a dose</h2>
  <%= simple_form_for [@cocktail, Dose.new] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Add new dose" %>
  <% end %>
</div>

<%= link_to 'Back', cocktails_path %>
